<footer id="footer">
          <div class="footer-top">
            <div class="inner">
              <a href="#" title="Tôi yêu hàng việt" class="logo"><img src="/web/front/images/logo-toi-yeu-hang-viet-2.png" alt="Tôi yêu hàng việt" /></a>
              <ul>
                <li class="col-1">
                  <h3>TOI YEU VIET NAM COMPANY</h3>
                  <address>
                    <strong>{{ 'Add'|trans({}, 'SMFrontBundle') }} :</strong> {{footerAdd}}<br />
                    <strong>{{ 'Phone'|trans({}, 'SMFrontBundle') }}</strong> {{phone}} - <strong>
                        {{ 'Fax'|trans({}, 'SMFrontBundle') }}:</strong> {{fax}}<br />
                    <strong>{{ 'Email'|trans({}, 'SMFrontBundle') }}:</strong> {{infoEmail}}
                  </address>
                </li>
                
                <li class="col-2">
                  <nav>
                    <ul>
                      {% render 'SMFrontBundle:Default:footerMenu' %}
                    </ul>
                  </nav>
                </li>
                
                <li class="col-3">
                  <h3><span>{{ 'Follow us'|trans({}, 'SMFrontBundle') }}</span></h3>
                  <ul class="social">
                    {% if facebookPage != '' %}
                        <li><a href="{{facebookPage}}" title="Facebook" class="wi-icon wi-icon-4">Facebook</a></li>
                    {% endif %}
                    {% if twitterPage != '' %}
                        <li><a href="{{twitterPage}}" title="Facebook" class="wi-icon wi-icon-5">Twitter</a></li>
                    {% endif %}
                    {% if youtubePage != '' %}
                        <li><a href="{{youtubePage}}" title="Facebook" class="wi-icon wi-icon-6">Youtube</a></li>
                    {% endif %}
                  </ul>
                </li>
              </ul>
            </div>
          </div><!-- end footer-top -->
          <div class="footer-bottom">
            <div class="inner">
              <div class="counter">
                  <span>Visitors counter:</span>
                    <p>
                      {% for num in arrCounter %}
                        <span class="number number-{{num}}">{{num}}</span>
                      {% endfor %}
                    </p>
              </div>
              
              <div class="copyright">© 2012 Toi Yeu Viet Nam. All rights reserved</div>
            </div>
          </div>
        </footer>