{% extends 'SMFrontBundle::layout.news.html.twig' %}
{% block title %}{{ 'Market price'|trans({}, "SMFrontBundle") }}{% endblock %}
{% block body%}
<div class="block">
    <div class="title-2">
      <div class="inner">
        <h2><span><span>{{ 'Market price'|trans({}, "SMFrontBundle") }}</span></span></h2>
      </div>
    </div>
  <div class="price-block">
        <div class="price-content">
            <table style="width: 100%;">
                <tr>
                  <th>{{ 'Item'|trans({}, "SMFrontBundle") }}</th>
                  <th>{{ 'Old price'|trans({}, "SMFrontBundle") }}</th>
                  <th>{{ 'New price'|trans({}, "SMFrontBundle") }}</th>
                </tr>
                {% set i = 0 %}
                {% for ent in entities %}
                    {% set class = 'style-1' %}
                    {% set c = i % 2 %}
                    {% set i = i + 1 %}
                    {% if c == 0 %}
                        {% set class = '' %}
                    {% endif %}
                <tr class="{{class}}">
                    <td>{{ent.name}}</td>
                    <td>{{ent.price}}</td>
                    <td>{{ent.oldprice}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    {% if totalPage > 0%}
        <div class="paging">
            <span>{{ 'Page'|trans({}, 'SMFrontBundle') }} {{currentPage}} / {{totalPage}}</span>
            <ul>
                <li class="prev-btn"><a class="wi-icon wi-icon-10" href="{{ path('sm_front_item_view_all', { 'page': previousPage }) }}" title="<<"><<</a></li>
                {% set start = startPageOfCurrentRange + perPage - 1%}
                {% set classActive = ''%}
                {% set style = ''%}
                {% for i in startPageOfCurrentRange..start %}
                    {% if i == currentPage %}
                        {% set classActive = 'active'%}
                    {% else %}
                        {% set classActive = ''%}
                    {% endif %}

                    {% if i <= totalPage %}
                    <li class="{{classActive}}"><a href="{{ path('sm_front_item_view_all', { 'page': i }) }}">{{i}}<a></li>
                    {% endif %}
                {% endfor %}
                <li class="next-btn"><a class="wi-icon wi-icon-11" href="{{ path('sm_front_item_view_all', {'page': nextPage}) }}" title=">>">>></a></li>
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}