{% extends 'SMFrontBundle::layout.product.detail.html.twig' %}
{% block title %}{{ 'Search'|trans({}, 'SMFrontBundle') }}{% endblock %}
{% block body%}
<div class="block">
<!-- BEGIN RELATION PRODUCT -->
    <div class="block specialty">
    <div class="title-2">
      <div class="inner">
        <h2><span><span>{{ 'Search'|trans({}, 'SMFrontBundle') }}</span></span></h2>
      </div>
    </div>
    <div class="thumbnails-1">
      <div style="padding-top: 10px; padding-left: 10px;" align="center">
            <form class="" method="POST" action="{{path('sm_front_search_product')}}">
                <div>
                    {{ 'Name'|trans({}, "SMAdminBundle") }} : <input size="40" type="text" name="product_name" id="product_name" value="{{name}}" style="background-color: #F0F0F0;">
                    {{ 'Branch'|trans({}, "SMAdminBundle") }} : <select name="branch" id="branch" style="background-color: #F0F0F0; outline-color:#F0F0F0;">
                            <option value="">-- {{ 'Select'|trans({}, "SMAdminBundle") }} -- </option>
                            {% for obj in optBranchs %}
                                {% if obj.getCurrentLanguage is not null %}
                                    <option value="{{obj.id}}" {% if obj.id == branchId %} selected="selected"{% endif %}>
                                        {{ obj.getCurrentLanguage.getTreeName | truncate(50) }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                </div>
                <div style="padding: 10px; 10px; 10px; 10px;" align="center">
                    <button type="submit" class="btn" style="width: 100px;">{{ 'Search'|trans({}, "SMAdminBundle") }}</button>
                    <button type="submit" class="btn" style="width: 100px;" id="btnReset">{{ 'Reset'|trans({}, "SMAdminBundle") }}</button>
                </div>
            </form>
        </div>
    </div>
  </div>

    <div class="block specialty">
        <div class="title-2">
          <div class="inner">
            <h2><span><span>{{ 'Search Results'|trans({}, 'SMFrontBundle') }}</span></span></h2>
          </div>
        </div>
        <div class="thumbnails">
            <ul>
                {% if entities|length  > 0%}
                    {% for ent in entities %}
                        <li>
                            {% if ent.product.thumb  > 0%}
                                <a href="javascript:void(0);" 
                                    class="img-thumb"
                                    data-html="true"
                                    data-toggle="popover"
                                    data-content="<img src='{{ asset(uploadPath ~ ent.product.thumb) }}' alt='{{ mtxgetteaser(ent.name)|raw }}'/>
                                     <span class='title'>{{ mtxgetteaser(ent.name)|raw }}</span>
                                     <div class='content'>{{ mtxgetteaser(ent.description)|raw }}
                                     </div>">
                                     <span>
                                         <img src="{{ asset(uploadPath ~ ent.product.thumb) }}" alt="{{ mtxgetteaser(ent.name, countWordProductTitle)|raw }}" width="160" height="104"/>
                                     </span>
                                    <a href="{{ path('sm_front_view_product_detail', { 'slug': mtxbuildurl(ent.product.id, ent.name) }) }}" title="{{ mtxgetteaser(ent.name)|raw }}">
                                        <strong class="title">
                                            {{ mtxgetteaser(ent.name, countWordProductTitle)|raw }}
                                        </strong>
                                    </a>
                                </a>
                            {% else %}
                                <a href="javascript:void(0);" 
                                    class="img-thumb" 
                                    data-html="true" 
                                    data-toggle="popover" 
                                    data-content="<img src='{{asset('/web/front/images/no-image.jpg')}}' alt='{{ mtxgetteaser(ent.name)|raw }}' />
                                     <span class='title'>{{ mtxgetteaser(ent.name)|raw }}</span>
                                     <div class='content'>{{ mtxgetteaser(ent.description)|raw }}
                                     </div>">
                                     <span>
                                        <img src="{{asset('/web/front/images/no-image.jpg')}}" alt="#" width="157" height="104"/>
                                     </span>
                                        <a href="{{ path('sm_front_view_product_detail', { 'slug': mtxbuildurl(ent.product.id, ent.name) }) }}" title="{{ mtxgetteaser(ent.name)|raw }}">
                                           <strong class="title">
                                               {{ mtxgetteaser(ent.name, countWordProductTitle)|raw }}
                                           </strong>
                                        </a>

                                </a>
                            {% endif %}
                        </li> 
                    {% endfor %}
                  {% else %}
                        <div class="noProduct">{{ 'No result was found'|trans({}, 'SMFrontBundle') }}</div>
                  {% endif %}
            </ul>
        </div>
        
        {% if totalPage > 0%}
        <div class="paging">
            <span>{{ 'Page'|trans({}, 'SMFrontBundle') }} {{currentPage}} / {{totalPage}}</span>
            <ul>
                <li class="prev-btn"><a class="wi-icon wi-icon-10" href="{{ path('sm_front_search_product', { 'page': previousPage }) }}" title="<<"><<</a></li>
                {% set start = startPageOfCurrentRange + perPage - 1%}
                {% set classActive = ''%}
                {% set style = ''%}
                {% for i in startPageOfCurrentRange..start %}
                    {% if i == currentPage %}
                        {% set classActive = 'active'%}
                    {% else %}
                        {% set classActive = ''%}
                    {% endif %}

                    {% if i <= totalPage %}
                    <li class="{{classActive}}"><a href="{{ path('sm_front_search_product', { 'page': i }) }}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="next-btn"><a class="wi-icon wi-icon-11" href="{{ path('sm_front_search_product', { 'page': nextPage }) }}" title=">>">>></a></li>
            </ul>
        </div>
    {% endif %}
    
      </div>
<!-- END NEW RELATIONPRODUCT -->
</div>                  
{% endblock %}
